:root {
  --cor-0: #FFFFFF;
  --cor-1: #fba92c;
  --cor-3: #FFDf6C;
  --cor-9: #eeeeee;
  --cor-10: #707070;
  --cor-11: #3F3F3F;
  --cor-12: #202020; 
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-12 {
  color: var(--cor-12);
}