.quem-sou-bg {
  background: linear-gradient(to right, var(--cor-11) 70%, var(--cor-0) 0);
}
.minibio {
  padding: 20px;
}
.minibio p {
  max-width: 47ch;
}
.capacidades {
  grid-template-columns: 1fr 1fr;
}
.capacidades-habilidade {
  padding: 40px;
  border-radius: 4px;
}
.capacidades-idiomas {
  background-color: var(--cor-12);
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 2px 1px var(--cor-1);
}
.capacidades-idiomas ul li:nth-child(1)::after {
  content: " ";
  display: block;
  width: 100px;
  height: 10px;
  background: var(--cor-1);
  border-radius: 4px;
}
.capacidades-idiomas ul li:nth-child(2)::after {
  content: " ";
  display: block;
  width: 100px;
  height: 10px;
  background: linear-gradient(to right, var(--cor-1) 30%, var(--cor-9) 0);
  border-radius: 4px;
}

.capacidades ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.capacidades-habilidade ul li:nth-child(1)::after {
  content: " ";
  display: block;
  width: 100px;
  height: 10px;
  background: var(--cor-1);
  border-radius: 4px;
}
.capacidades-habilidade ul li:nth-child(2)::after {
  content: " ";
  display: block;
  width: 100px;
  height: 10px;
  background: linear-gradient(to right, var(--cor-1) 30%, var(--cor-9) 0);
  border-radius: 4px;
}
.capacidades-habilidade ul li:nth-child(3)::after {
  content: " ";
  display: block;
  width: 100px;
  height: 10px;
  background: linear-gradient(to right, var(--cor-1) 80%, var(--cor-9) 0);
  border-radius: 4px;
}
.capacidades-habilidade ul li:nth-child(4)::after {
  content: " ";
  display: block;
  width: 100px;
  height: 10px;
  background: linear-gradient(to right, var(--cor-1) 80%, var(--cor-9) 0);
  border-radius: 4px;
}
.experiencia div {
  padding: 20px;
}
.experiencia div:nth-child(even) {
  background-color: var(--cor-9);
}
.experiencia dd p {
  display: flex;
  gap: 20px;
  align-items: center;
}
.experiencia span {
  position: relative;
}
.experiencia span::before {
  content: "";
  background: url("../img/date-svgrepo-com.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: -20px;
  top: -5px;
}

@media (max-width: 800px) {
  .quem-sou-bg {
    background: var(--cor-12);
  }
  .capacidades-habilidade {
    padding: 20px;
  }
  .capacidades-idiomas {
    padding: 20px;
    box-shadow: inherit;
  }
}
@media (max-width: 600px) {
  .capacidades {
    grid-template-columns: 1fr;
  }
}
